<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body>
    <div class="">
      <header class="absolute top-0 right-0 p-6">
        <img src="static/assets/notationlogo.png" alt="Logo" />
      </header>
      <div class="div1">
        <h1 class="">Notation-Ai</h1>
        <div class="div2">
          <div class="div3">
            <form method="POST" enctype="multipart/form-data">
              <div class="">
              {{ form.hidden_tag() }}<div class="div2">{{ form.notes.label }}</div>
              <div class="div3">{{ form.notes }}</div> <div class="div4">{{ form.slides.label }}</div><div class="div5">
              {{ form.slides }}</div>{{ form.submit }}
            </form>
            </div>
          </div>
          <div class="div4"></div>
        </div>
      </div>
    </div>
    <!-- Include your scripts or any other body content here -->
  </body>
</html>
